/* for all use */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.primary-btn {
    border-radius: 10px;
    background: #4E47FF;
    height: 48px;
    width: auto;
    padding: 12px 36px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border: none;


}
body{
    background: #F5F8FF;
}
/* header */

.header {
    text-align: center;
    height: 691px;
    background-image: url(./Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.nav h3 {
    color: var(--Primary-Color, #4E47FF);
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
}

.primary-btn:hover {
    background: lightpink;
}

.header-contant {
    margin-top: 200px;
}

.header-contant h1 {
    color: #252432;
    text-align: center;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* main */
main {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 100px;
}

/* action section  */
.action{
    margin-bottom: 100px;
}
.action-container {
    display: flex;
    align-items: center;
    gap: 250px;
    margin-left: 30px;
}

.action-container-info h1 {
    color: #252432;
    font-size: 42px;
    font-weight: 700;
}

.action-container-info p {
    height: 60px;
    color: rgba(37, 36, 50, 0.50);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;

}

.action-container-img img {
    width: 403px;
    height: 328px;
    border-radius: 48px;

}