/* for all use */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.primary-btn {
    border-radius: 10px;
    background: #4E47FF;
    height: 48px;
    width: auto;
    padding: 12px 36px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border: none;


}

.caption-title {
    text-align: center;
    color: #252432;
    font-size: 38px;
    font-weight: 700;
    line-height: normal;

}

body {
    background: #F5F8FF;
}

/* header */

.header {
    text-align: center;
    height: 691px;
    background-image: url(./Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.nav h3 {
    color: #4E47FF;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
}

.primary-btn:hover {
    background: lightpink;
}

.header-contant {
    margin-top: 200px;
}

.header-contant h1 {
    color: #252432;
    text-align: center;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* main */
main {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 100px;

}

/* action section  */
.action {
    margin-bottom: 100px;
}

.action-container {
    display: flex;
    align-items: center;
    gap: 250px;
    margin-left: 30px;
}

.action-container-info h1 {
    color: #252432;
    font-size: 42px;
    font-weight: 700;
}

.action-container-info p {
    height: 60px;
    color: rgba(37, 36, 50, 0.50);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;

}

.action-container-img img {
    width: 403px;
    height: 328px;
    border-radius: 48px;

}

/* productive-user */
.productive-user {
    border-radius: 24px;
    height: 306px;
    background: rgba(78, 71, 255, 0.10);
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.productive-user-info {
    display: flex;
    align-items: center;
    gap: 158px;
}

.productive-user-info h1 {
    color: #4E47FF;
    margin-bottom: -20px;
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
    height: 80px;

}

..productive-user-info p {
    color: rgba(0, 0, 0, 0.50);
    height: 24px;
    width: 120px;
    font-size: 20px;
    font-weight: 400;
}

/* review section */
.review {
    margin-bottom: 150px;
}

.review-div {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.review-div-info {
    max-width: 330px;
    height: 200px;
    border-radius: 14px;
    border: solid #F2EDED;
    background: rgba(255, 255, 255, 0.50);
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-div-info h3 {
    margin-bottom: 0px;
    color: rgba(30, 30, 30, 1);
}

.review-div-info p {
    width: 300px;
    margin-bottom: 10px;
}

.icon-star-img {
    display: flex;
    gap: 3px;
}

.review-avater {
    display: flex;
    align-items: center;
    gap: 10px;

}

.review-avater img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.review-avater-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 30px;
}

.review-avater-div {}

.review-avater-info h2 {
    margin-bottom: 0px;
    margin-top: 5px;
    color: gray;
    font-size: medium;
    margin-top: 10px;
}

.review-avater-info p {
    margin-top: 0px;
    color: rgba(179, 179, 179, 1);
}

/* focus better section  */
.focus-better {
    text-align: center;
    display: flex;
    padding: 71px 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 14px;
    background: #FFF;
    margin-bottom: 150px;
}

.focus-better h1 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.focus-better p {
    color: rgba(0, 0, 0, 0.5);
    font-size: medium;
    margin-bottom: 20px;
}

.focus-better img {
    border-radius: 48px;
    height: 364.773px;
}

/* feedback section  */
.feedback {
    display: flex;
    gap: 150px;
    margin-bottom: 150px;
}

.feedback h1 {
    width: 528px;
    color: #000;
    font-size: 97px;
    font-weight: 700;


}

.form {
    width: 50%;
}


.form-info h3 {
    margin-bottom: 3px;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
}

.form-info input[type="email"],
.form-info input[type="text"],
.form-info textarea {
    height: 20px;
    padding: 20px 32px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background: #FFF;
    width: 80%;
    display: block;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.50);
}

.form-info textarea {
    height: 135px;
}

.form-info input[type="submit"] {
    margin-top: 10px;
    width: 90%;
}

/* footer */
footer {
    background-color: white;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.footer-div {
    text-align: center;
}

footer h1 {
    color: #4E47FF;
    font-size: 100px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 2px;
}

footer p {
    width: 531px;
    text-align: center;
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 0px;
}

.ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: #8987A1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}